{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    {% include 'shop/_include/_head_imports.html' %}
    <link rel="stylesheet" href="{% static 'css/shop.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'imgs/favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'google_fonts/fonts/montserrat:wght@300;400.css' %}">
    <title>{% block title %}SNIK Store - Home Page{% endblock %}</title>

    {% block custom %}{% endblock %}
</head>

<body>
    {% include 'shop/_include/_header.html' %}
    {% block content %}{% endblock %}
    {% include 'shop/_include/_footer.html' %}
</body>

<script src="{% static 'js/shop.js' %}"></script>
</html>