{% extends 'base.html' %}
{% load thumbnail %}


{% block content %}
    <section class="py-8 text-center container">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h4>Choose and it is in your hands.</h4>
                <p class="lead text-muted">Browse and make the best deal</p>
                {% if not user.is_authenticated %}
                    <a href="{% url 'accounts:register' %}" class="btn btn-success my-2">Create an account</a>
                {% endif %}
            </div>
        </div>
    </section>
    <section class="album py-5 bg-light">
        <div class="container">
            <div class="pb-3 h5">All products</div>
            <hr/>
            <br/>
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-5 g-3">
                {% for product in products %}
                    <div class="col">
                        <a class="text-black  text-decoration-none fs-4"
                           href="{{ product.get_absolute_url }}">
                            <div class="card shadow-sm h-100">
                                {% thumbnail product.image "300x300" as cached_image %}
                                    <img class="img-fluid h-100" alt="Responsive image" src="{{ cached_image.url }}"/>
                                {% endthumbnail %}
                                <div class="card-body">
                                    <p class="card-text ">
                                        {{ product.title|capfirst }}
                                    </p>
                                    <div class="d-flex justify-content-between align-items-center badge bg-success text-wrap"
                                         style="width: 6rem;">
                                        <h5>$ {{ product.price }}</h5>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center mt-3">
            <li class="page-item {% if not page_obj.has_previous %}disabled{% endif %}">
                <a class="page-link {% if page_obj.has_previous %}text-success{% endif %} btn-success" href="
                        {% if page_obj.has_previous %}{% url 'shop:paginator' page_obj.previous_page_number %}{% endif %}">Previous</a>
            </li>
            {% for page in page_obj.paginator.page_range %}
                {% if page_obj.number == page %}
                    <li class="page-item active" aria-current="page">
                        <a class="page-link bg-success btn-success" href="{% url 'shop:paginator' page %}">{{ page }}</a>
                    </li>
                {% else %}
                    <li class="page-item">
                        <a class="page-link text-success btn-success" href="{% url 'shop:paginator' page %}">{{ page }}</a>
                    </li>
                {% endif %}
            {% endfor %}
            <li class="page-item {% if not page_obj.has_next %}disabled{% endif %}">
                <a class="page-link {% if page_obj.has_next %}text-success{% endif %} btn-success" href="
                        {% if page_obj.has_next %}{% url 'shop:paginator' page_obj.next_page_number %}{% endif %}">Next</a>
            </li>
        </ul>
    </nav>

{% endblock %}